# Systemd Unit file for oekoeboiler-shelly service
# Replace the folder with your specific install
[Unit]
Description=Oekoboiler Shelly Service

[Service]
# Make sure to update your Working Directory
# one way: with an override: 
# run `systemctl edit oekoboiler-shelly` 
WorkingDirectory=
ExecStart=bin/oekoboiler-shelly
Restart=always
User=root
# Load Crendentials securely from "oekoboiler-shelly"
# This requires an up-to-date systemd with systemd-creds
# The credentials file you generate must be created 
# with the same name used here, i.e. `oekoboiler-shelly`
LoadCredentialEncrypted=oekoboiler-shelly
Environment=PATH=/usr/bin:/usr/local/bin
Environment=DOTENV_CONFIG_PATH=%d/oekoboiler-shelly

[Install]
WantedBy=multi-user.target